---
const { baseDomain } = Astro.props;
const year = new Date().getFullYear();
const siteVersion = import.meta.env.PUBLIC_SITE_VERSION || "1.0.0";
---

<footer>
  <div class="footer-container">
    <p>&copy; {year} {baseDomain}</p>
    <p class="footer-version">v{siteVersion}</p>
    <div class="social-links">
      <a
        href="https://github.com/chrispsheehan"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/assets/social/github.png" alt="GitHub" class="social-icon" />
      </a>
      <a
        href="https://www.linkedin.com/in/chrispsheehan"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/assets/social/in.png" alt="LinkedIn" class="social-icon" />
      </a>
      <a
        href="https://registry.terraform.io/namespaces/chrispsheehan"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="/assets/social/terraform.png"
          alt="Terraform"
          class="social-icon"
        />
      </a>
      <a
        href="https://www.credly.com/users/chris-sheehan.b081233e"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="/assets/social/credly.png"
          alt="Terraform"
          class="social-icon"
        />
      </a>
    </div>
  </div>
</footer>
