---
import Visits from "./Visits";
import CostExplorer from "./CostExplorer";
---

<section id="this-site">
  <h2>This Site</h2>
  <p>Built with Astro, deployed to AWS using Terragrunt and Serverless.</p>

  <Visits client:load />
  <CostExplorer client:load />
</section>
