---
import Footer from '../components/Footer.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chrispsheehan.com</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" type="image/png" href="/face.png" />
  </head>
  <body>
    <header>
      <nav>
        <a href="#about" class="button">About</a>
        <a href="#this-site" class="button">This Site</a>
      </nav>
    </header>

    <main>
      <section id="hero">
        <h1>Welcome to chrispsheehan.com</h1>
      </section>

      <section id="about">
        <h2>About</h2>
        <p>This is a basic Astro-powered site.</p>
      </section>

      <section id="this-site">
        <h2>This Site</h2>
        <p>How this site is developed, built and deployed.</p>
      </section>
    </main>

    <Footer />
  </body>
</html>
