---
import Certifications from "../components/Certifications";
---

<style is:global>
  .cert-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  /* Force 2-per-row grid on medium screens */
  @media (max-width: 700px) {
    .cert-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .cert-grid {
      max-width: 960px;
      width: 100%;
    }

    .cert-img-wrapper {
      padding-top: 20%;
    }
  }

  /* On tiny screens, stack them and center single items */
  @media (max-width: 400px) {
    .cert-grid > a {
      flex: 1 1 100%;
      max-width: 220px;
    }

    .cert-img-wrapper {
      padding-top: 56.25%;
    }
  }
</style>

<section>
  <h2>Certifications</h2>
  <h3>
    Hi, I’m Chris — a Senior Platform Engineer focused on making it easier for
    teams to ship code.
  </h3>
  <Certifications client:load />
</section>
