<header>
    <nav>
        <a href="#about-me" class="button">About Me</a>
        <a href="#this-site" class="button">This Site</a>
    </nav>
</header>

<style>
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 32px;
        background: var(--color-header-background);
    }

    .button {
        padding: 12px 24px;
        color: var(--color-btn-text);
        background: var(--color-link);
        text-decoration: none;
        border-radius: 6px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        margin: 0;
    }
</style>
  