---
import Footer from "../components/Footer.astro";
import ThisSite from "../components/ThisSite.astro";
import AboutMe from "../components/AboutMe.astro";

const baseDomain = import.meta.env.PUBLIC_BASE_DOMAIN ?? "http://localhost:4321";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{baseDomain}</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" type="image/png" href="/face.png" />
  </head>
  <body>
    <header>
      <nav>
        <a href="#about-me" class="button">About Me</a>
        <a href="#this-site" class="button">This Site</a>
      </nav>
    </header>

    <main>
      <section id="hero">
        <h1>Welcome to {baseDomain}</h1>
      </section>

      <AboutMe baseDomain={baseDomain} />

      <ThisSite />
    </main>

    <Footer baseDomain={baseDomain} />
  </body>
</html>
