---
import Footer from "../layouts/Footer.astro";
import ThisSite from "../layouts/ThisSite.astro";
import AboutMe from "../layouts/AboutMe.astro";

const baseDomain = import.meta.env.PUBLIC_BASE_DOMAIN ?? "localhost";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{baseDomain}</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" type="image/png" href="/face.png" />
  </head>
  <body>
    <header>
      <nav>
        <a href="#about-me" class="button">About Me</a>
        <a href="#this-site" class="button">This Site</a>
      </nav>
    </header>

    <main>
      <section id="hero">
        <h1>👋 Welcome to my site!</h1>
      </section>

      <AboutMe baseDomain={baseDomain} />

      <ThisSite />
    </main>

    <Footer baseDomain={baseDomain} />
  </body>
</html>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px;
    background: var(--color-header-background);
  }

  .button {
    padding: 12px 24px;
    color: var(--color-btn-text);
    background: var(--color-link);
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 0;
  }
</style>
