:root {
  --vt-c: #2e3735;
  --vt-c-soft: #a5c4b8;
  --vt-c-logo: #a2d5ac;
  --vt-c-text-1: #e0f3cc;
  --vt-c-text-2: #f2fce6;

  --color-background: var(--vt-c);
  --color-background-soft: var(--vt-c-soft);
  --color-heading: var(--vt-c-text-1);
  --color-btn-text: var(--vt-c);
  --color-text: var(--vt-c-text-2);
  --color-link: var(--vt-c-logo);

  --color-header-background: #26312f;
  --color-footer-background: #1a201e;

  --section-gap: 160px;

  --font-body: "Inter", sans-serif;
  --font-heading: "Montserrat", sans-serif;
}

/* Base */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-body);
  background: var(--color-background);
  color: var(--color-text);
  line-height: 1.6;
  font-size: 16px;
}

/* Body layout */
body {
  display: flex;
  flex-direction: column;
}

/* Headings */
h1 {
  font-family: var(--font-heading);
  color: var(--color-heading);
  margin-bottom: 0.5em;
  font-size: 2.5rem; /* Largest */
}

h2 {
  font-family: var(--font-heading);
  color: var(--color-heading);
  margin-bottom: 0.5em;
  font-size: 2rem; /* Medium */
}

h3 {
  font-family: var(--font-heading);
  color: var(--color-heading);
  margin-bottom: 0.5em;
  font-size: 1.5rem; /* Smallest */
}

main {
  flex: 1;
  padding: 24px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 32px;
  background: var(--color-header-background);
  color: var(--color-text);
  font-size: 18px;
}

nav a {
  color: var(--color-link);
  text-decoration: none;
  margin-left: 20px;
}

section {
  padding: 24px 24px;
}

#hero {
  background: var(--color-background);
}

#about-me {
  background: var(--color-background);
}

#this-site {
  background: var(--color-background);
}

p {
  margin-bottom: 1.25em;
}

/* Links */
a {
  color: var(--color-link);
  text-decoration: underline;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--vt-c-text-1);
}

@media (max-width: 600px) {
  main,
  section {
    padding: 12px;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 16px;
  }

  nav a {
    margin-left: 0;
  }
}
